    {% extends 'base/base.html' %}
{% load get_likes_count %}
{% load get_comment_count %}
{% load is_user %}
{% is_user as is_user %}


{% block page_content %}
    <div class="row justify-content-center">


        <h2>All destinations </h2>

    </div>
    {% if destinations %}
        <div class="row justify-content-center">
            {% for destination in object_list %}
                <div class="card" style="width: 15rem; background-color: #F7ECDE">
                    <img src="{{ destination.photo.url }}" class="card-img-top img-thumbnail" style="height: 10rem;"
                         alt="{{ destination.description|truncatechars:30 }}">
                    <div class="card-body">
                        <h5 class="card-title">Destination to: {{ destination.country.name }}</h5>
                        <p class="card-text">{{ destination.description|truncatechars:30 }}</p>
                        <a href="{% url 'destination details' destination.pk %}"
                           class="btn btn-primary top-left" style="background-color: #54BAB9">Read more</a>
                        {% if likes %}
                            <p class="card-text"><i class="fas fa-heart" ></i>{{ likes|get_likes_count:destination.id }}
                            </p>
                        {% endif %}
                        {% if comments %}
                            <p class="card-text"><i
                                    class="fas fa-comment-dots"></i>{{ comments|get_comment_count:destination.id }}</p>
                        {% endif %}

                    </div>
                </div>
            {% endfor %}

        </div>

        <div class="row justify-content-center">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" style="background-color: #54BAB9" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>

                        {% else %}
                    <li class="page-item disabled">
                        <a class="page-link disabled" style="background-color: #54BAB9" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" style="background-color: #54BAB9" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                        {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" style="background-color: #54BAB9" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="row justify-content-center">
            <p>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</p>
        </div>

    {% else %}
        <div class="row justify-content-center">
            <h2>There are no destinations yet!</h2>
        </div>
    {% endif %}
{% endblock %}
