{% extends 'base/base.html' %}
{% block page_content %}
    <div class="row justify-content-center">
        <h2 class="display-4">Destination comment</h2>


        <img style="width: 60%"
             src="{{ destination.photo }}" alt="">
    </div>
    <div class="row justify-content-center">
        <h3 class="display-5">Comment destination {{ destination.country.name }}</h3>
    </div>


    <div class="row justify-content-center">
        <form action="{% url 'comment destination' destination.pk %}" method='post'>
            {% csrf_token %}
            {{ form }}
            <button class="btn btn-primary float-right" style="background-color: #54BAB9" >Send</button>
        </form>
    </div>
{% endblock %}