{% extends 'base/base.html' %}



{% block page_content %}
    <div class="row justify-content-center">
        <h2>User register</h2>
    </div>
    <form action="{% url 'create profile' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button class="btn btn-primary float-right">Register</button>
    </form>
    <br>
    <br>
    <div class="row justify-content-center">
        <h5 class="row justify-content-center">You already have registration please</h5>
    </div>
    <div class="row justify-content-center">
        <a href="{% url 'login' %}" class="btn btn-primary pull-right">Go to login</a>
    </div>

{% endblock %}